<div class="panel panel-default">
  <div class="panel-heading">
      <button type="button" class="btn btn-default btn-sm pull-right">Sort By Price</button>
    <h4 class="panel-title">Search Results<br/><br/></h3>
  </div>

    <!-- List group -->

      <ul class = "list-group">
        <% data.forEach(function(row){ %>

          <li class = "list-group-item" id = "results-list" >
            <div class = "row">

              <div class = "col-xs-5 col-md-3" id = "row-name">
                <%= row.name %>
              </div>

              <div class = "col-xs-9 col-md-7" id = "row-desc">
                <%= row.description %>
              </div>

              <div class = "col-xs-4 col-md-2" id = "row-price">
                $ <%= row.price %>   
              </div>

            </div> 
          </li>
                                              <!--      <%= row.ProductID %> -->
                                              <!--      <%= row.stockquantity %> -->
        <% }) %>
      </ul>


</div>
