<div class="panel panel-default">
  <div class="panel-heading">
      <button type="button" class="btn btn-default btn-sm pull-right">Sort By Price</button>
    <h4 class="panel-title">Search Results<br/><br/></h3>
  </div>

    <!-- List group -->

      <ul class = "list-group">
        <% data.forEach(function(row){ %>

          <li class = "list-group-item" id = "results-list" >
            <div class = "row">

              <div class = "col-xs-1 col-md-1">
                <button type="button" class="btn btn-default add-to-cart" data-name="<%= row.name %>" data-price="<%= row.price %>" data-stock = "<%= row.stockquantity %>" data-pid = "<%= row.ProductID %>" aria-label="Left Align">
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </button>
              </div>              

              <div class = "col-xs-5 col-md-3 pull-left">
                <%= row.name %>
              </div>

              <div class = "col-xs-8 col-md-6 pull-left">
                <%= row.description %>
              </div>

              <div class = "col-xs-4 col-md-2 pull-right">
                $ <%= row.price %>   
              </div>
<!-- 
              <div class = "col-xs-4 col-md-2 pull-right">
                $ <%= row.stockquantity %>   
              </div> -->

            </div> 
          </li>
        <% }) %>
      </ul>


</div>
